@use "../../../Utils/variables" as *;

.form-sub-wrapper {
 background-color: white;
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 700px;
 max-height: 70vh;
 padding: 1em;
 border-radius: 40px;
 overflow-y: scroll;
 scrollbar-width: none;
}
.form-login-wrapper {
 display: flex;
 flex-direction: column;
 align-items: center;
 height: 500px;
 width: 700px;
 background-color: white;
 border-radius: 200px;
 padding: 1em;
}
.form {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 transition: transform 0.5s ease;
}
.register-switch,
.connection-switch {
 position: relative;
 left: 70em;
 width: 130px;
 border: none;
 border-radius: 20px;
 padding: 1em;
 margin: 2em;
 background-color: black;
 color: white;
 font-weight: 900;
 cursor: pointer;
}
.register-switch:hover,
.connection-switch:hover {
 filter: invert(1);
}
.login-title {
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 3em;
 margin-bottom: 2em;
 color: BLACK;
}
.register-title {
 display: flex;
 justify-content: flex-start;
 align-items: center;
 font-size: 3em;
 margin-bottom: 2.5em;
  text-shadow: 0 0 10px #000;
  color: white !important;
}

.registerForm,
.loginForm {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 position: relative;
 gap: 30px;
 bottom: 6em;
 & input {
  width: 30rem;
  height: 2vh;
  border: none;
  border-radius: 10px;
  padding: 1em;
  background-color: #F3F3F3 !important;
 }
 ::placeholder {
  font-size: 1em;
 }
 & button {
  font-weight: 900;
  font-size: 1.1em;
  width: 15em;
  border-radius: 40px;
  border: none;
  padding: 1em;
  cursor: pointer;
  background:$button_background;
  color:white;
 }
 .rest-link {
  color: black;
  font-size: 1em;
  font-weight: 300;
 }
 .rest-sub-link {
  color: white;
  font-weight: 400;
 }
}
.registerForm button:hover,
.loginForm button:hover {
 opacity: 0.7;
}

.passwordForgotten {
 position: relative;
 bottom: 1.5em;
}


.form.active {
 transform: translateX(31.5%);
}

.inscriptionForm.inactive {
 transform: translateX(-100%);
}

.connexionForm.right {
 transform: translateX(100%);
}
