.layout {
    @include stylin_footer;

    h4 {
        @include position_title__footer;
    }

    a {
        @include flex__row;
        @include stylin_hyperlink__footer;
    }

    i {
        font-size: 15px;
    }
}



@include desktop {

    footer .layout {
        @include flex__row_end;
        @include relative_parent;
        width: 100%;
    }

    .foottitle {
        @include flex__row_centerY;
        @include relative_parent;
        left: 700px; bottom: 6px
    }

    footer .first {
        @include flex__row;
    }

    footer .second {
        @include flex__row;
    }

    footer .first, .second {
        padding-left: 100px;
        position: relative;
        right: 20%;
    }

}