form {
    @include flex__center_row;
    @include center_form;
}


input[type=search] {
    @include input_style;
    @include no-style;

    &::placeholder {
        @include styling_placeholder;
    }
}

main {
    box-sizing: border-box;
    overflow: hidden;
}

main .und_header {
    @include flex__column;
    width: 100%;
    background-color: $background_grey__light;
    padding-bottom: $center;
}

.und_header h2, .und_header h3 {
    @include flex__center_row;
    text-align: center;
}

.und_header h2 {
    width: 100%;
    font-size: $title-menu;
}

.und_header h3 {
    @include shift_bottom;
    font-size: $taller;
    font-weight: $tine_weight;
    width: 100%;
} 

.btn-place {
    @include flex__center_row;
    position: relative;
    left: 5px;
    padding: $center;
}



