// Checked ////////////////////////////////////////////////////////

///// Rotation de l'icone
@keyframes checked-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes slideIn {
  0% {
    right: -60px;
  }
  100% {
    right: 0px;
  }
}
