// Styling/////////////////////////////////////////////////////////////

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  z-index: 9999;
  visibility: visible;
  animation: fadeOut 2s ease 1.5s forwards;
  transition: opacity 1s ease-in-out;
}

// gradual onset on menu ////////////////////////////////////

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu__content {
  opacity: 0;
  animation: fadeInUp 0.8s ease-out forwards;
  animation-delay: 3s;
}

// Affichage progressif des menus

.main__course:nth-child(1) {
  animation-delay: 3.3s;
}
.main__course:nth-child(2) {
  animation-delay: 3.6s;
}
.main__course:nth-child(3) {
  animation-delay: 3.9s;
}

// loading to homepage//////////////////////////////////////////////////

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
}
