body {
    min-height: 100%;
    box-sizing: border-box;
}

header {
    border-bottom: black double;
    gap: 5px;
    box-shadow: $light_shadow;
    padding: 0 0 5px;
    font-size: $title-menu;
}

main {
    height: 100%;
}

.main-email {
    height: 70vh;
    padding-left: 15px;
    font-size: $taller;
}

    .main-email h1 {
        font-weight: 400;
        font-size: 28px;
        padding-top: 10px;
    }
    
    .main-email h2 { 
       font-size: $title-size;
       padding-bottom: 10px;
       font-weight: $tine_weight;
    }
       
       .mail {
           @include flex__column;
           background: $button_background;
           padding: $center;
           padding-top: 25px;
           border: none;
           box-shadow: $light_shadow;
           border-radius: 15px;
           width: 82vw;
           position: relative;
           bottom: 10px; 
        }
        
        .main-email h3 {
            color: white;
            font-weight: 600;
            margin-bottom: 0.5em;
        }
        
        .main-email h4 {
            color: white;
            font-weight: 400;
            font-size: $taller;
            margin-top: 0;
        }

footer {
    padding-top: 15px;
    height: 100%;

    footer h4 {
        color: white;
    }
}

