header {
    @include flex__center;
    
    img {
        @include header_size_img;
        @include flex__center;
    }

    .location-search {
        width: 100%;
        height: 50px;
        background-color: $background_grey__medium;
        @include shadow;
    
    .fa-location-dot {
            color: $darken;
            font-size: $small;
        }

    }
}
 

@include desktop {
    
        header img {
            @include header_img_desktop;
        }

        header .location-search {
            box-shadow: none;
        }

}