.plate__validation {
    position: absolute;
    right: -60px;  
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 65px;
    background-color: $color_tertiary;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.8s ease;
}

.fa-check {
    color: white;
}

.plate__list:hover .plate__validation {
    animation: slideIn 0.5s forwards;
}

.plate__list.plate__list:hover .plate__validation i {
    animation: checked-spin 0.5s forwards;
}

.plate__list:hover .plate__price {
    left: 72%;
}

.plate__list:hover h3, .plate__list.active h4 {
    white-space: nowrap;      
    overflow: hidden;     
    text-overflow: ellipsis;    
    max-width: 50%;  
}

@include desktop {
    .plate__list:hover .plate__price {
        left: 84%;
    }
}