@mixin number__circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    background-color: $color_primary;
}


.circle {
    @include number__circle;
    @include flex__center;
    position: relative;
    right: 10px;

    .number {
        color: white;
        font-size: $small;
    }
}
