@use "../../Utils/variables" as *;

.connection-successful-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  color: white;
  gap: 10px;
  i {
   color: white;
  }
}

.registered-successful-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
