

header {
    @include flex__row;
    position: relative;
}

    .fa-arrow-left {
    position: absolute;
    right: 92%; bottom: 35%;
    font-size: 20px;
    }

    .image__brand img {
        object-fit: cover;
        font-size: $taller;
        width: 100vw;
        height: 275px;
    }

.menu__content {
    background-color: $background_grey__light;
    border-radius: 40px 40px 0 0;
    border: none;
    position: relative;
    bottom: 60px;
    z-index: 2;
    padding-left: 10px;
    gap: 10px;
}

.title-menu {
    @include flex__row;
    gap: 50px;
    position: relative;
}

.btn__like {
    position: absolute;
    left: 80%; 
}
.main__course {
    @include flex__column;
    gap: 10px;
    width: 99%;
    margin-bottom: 15px;
}

h1 {
    font-family: "Shrikhand", cursive;
    font-weight: $medium_weight;
    padding-left: 10px;
}

.menu h2 {
    font-weight: $tine_weight;
    font-size: $normal;
    padding-bottom: 5px;
    border-bottom: 3px solid;
    border-color: $color_tertiary;
    width: 40px;
}


.plate__list {
    @include flex__column;
    position: relative;
    width: 90vw;
    height: 65px;
    border: none;
    border-radius: 20px;
    background-color: white;
    padding-left: 10px;
    overflow: hidden;
}

    .plate__list h3 {
        font-weight: $medium_weight;
    }

    .plate__list h3,h4 {
        margin-bottom: 1px;

        line-height: 0.785;
    }

    .main__course .plate__list h4 {
        font-weight: $tine_weight;
        font-size: $small;
        position: relative;
        bottom: 12px;
    }

    .plate__price {
        position: absolute;
        left: 89%;  // Position initiale
        bottom: 40%;
        font-weight: $medium_weight;
        transition: left 0.5s ease; 
    }


    .btn_place_m {
        @include flex__center;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    footer {
        margin-top: -90px;
        padding-top: 10px;
    }

    @include desktop {


        .image__brand img {
            height: 383px;
        }

        body .menu__content {
            @include flex__center;
            align-self: center;
            margin: 0 auto;
            width: 80%;
            position: relative;
            bottom: 80px;
        }
        
        .menu__content .title-menu  {
            padding: 35px;
            @include flex__center_row;
            margin: 0 auto;
            gap: 0px;
        }

        .title-menu .fa-heart {
            position: relative;
            right: 100%;
        }

        .plate__list {
            width: 50vw;
        }

        .plate__price {
            position: absolute;
            left: 90%;
        }
    }