.restaurant-title {
    font-size: $taller;
    padding-left: 30px;
    }

    .restaurant {
        background-color: $background_grey__light;
        padding-top: 1em;
        
        .flex-card {
        @include flex__center;
        padding-bottom: 6em;
        gap: 20px;
        }
    
        .card {
            @include card_;
            background-color: white;
            position: relative; 
        }
    
        .card img {
            @include card_img;
            object-fit: cover;
        }
    
        .new {
            @include stylin__new
        }

        .card .btn__like {
            position: absolute;
            bottom: 10%; left: 85%;
            border: none;
            background: none;
        }
        .card-txt {
            padding-left: 0.5em;
    
            .card-txt h3 {
                padding-top: 0.3em;
                font-size: $taller;
            }
    
            p {
                font-size: $small;
                font-weight: 400;
                position: relative;
                bottom: 15px;
            }
        }
    }

    @include desktop {

        main .restaurant .flex-card {
            @include settlement__card__desktop;
        }

        main .restaurant h2 {
            padding-left: 18.2%;
        }

        .restaurant .card {
            width: 75%;
            height: 251px;
            box-sizing: border-box;
        }

        .restaurant .card img {
            width: 100%;
            height: 180px;
        }

        .restaurant .card .btn__like {
            position: absolute;
            left: 90%;
        }

    }
