@use "../../Utils/variables" as variables;

.form-container {
 width: 100%;   
 height: 100%;  
 overflow: hidden;
 z-index: 2;
 position: absolute;
}
.form {
 position: absolute;
 width: 100%;
 height: auto;
 top: 0;
 left: 0;
 transition: transform 0.5s ease;
}
.register-switch,
.connection-switch {
 width: 130px;
 border: none;
 border-radius: 20px;
 padding: 1em;
 margin: 2em;
 background-color: black;
 color: white;
 font-weight: 900;
 cursor: pointer;
}
.register-switch:hover,
.connection-switch:hover {
 background-color: #E9E9E9;
 color: black;
}
.register-title,
.login-title {
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 3em;
 position: relative;
 bottom: 1em;
 color: white;
}
.registerForm,
.loginForm {
 display: flex;
 justify-content: center;
 flex-direction: column;
 position: relative;
 gap: 30px;
 right: 2em;
 bottom: 6em;
 & input {
  width: 30rem;
  height: 2vh;
  border: none;
  border-radius: 10px;
  padding: 1em;
  background-color: #F3F3F3 !important;
 }
 & button {
  font-weight: 900;
  font-size: 1.1em;
  width: 15em;
  position: relative;
  top: 3rem;
  border-radius: 40px;
  border: none;
  padding: 1em;
  cursor: pointer;
  background: variables.$button_background;
  color:white;
 }
}
.registerForm button:hover,
.loginForm button:hover {
 opacity: 0.7;
}

.passwordForgotten {
 padding-top: 1.5em;
 color: white;
}


.form.active {
 transform: translateX(0);
}

.inscriptionForm.inactive {
 transform: translateX(-100%);
}

.connexionForm.right {
 transform: translateX(100%);
}
