@use "../../utils.scss" as *;
@use "../../Utils/variables" as variables;

header {

    .fa-arrow-left:before  {
        position: absolute;
        right: 95%;
        bottom: 58%;
        font-size: 30px;
      }

    @include flex__center;
    
    img {
        height: 50px;
        width: 177px;
        @include flex__center;
        padding: 1em;
    }

    .location-search {
        width: 100%;
        height: 50px;
        background-color: variables.$background_grey__medium;
        @include shadow;
    
    .fa-location-dot {
            color: variables.$darken;
            font-size: variables.$small;
        }

    }
}
 

@include desktop {
    
        header img {
            padding: 15px;
            width: 250px;
            height: 80px;
        }

        header .location-search {
            box-shadow: none;
        }

}

@include tablet {

    header .fa-arrow-left:before  {
        position: absolute;
        right: 92%;
      }

      header img {
        width: 200px;
        height: 60px;
      }
}

@include mobile {
    header .fa-arrow-left:before  {
        position: absolute;
        right: 90%;
      } 

      header img {
        width: 170px;
        height: 50px;
      }
}