@use "../../utils.scss" as *;
@use "../../Utils/variables" as variables;

header {

    .fa-arrow-left:before  {
        position: absolute;
        right: 95%;
        bottom: 58%;
        font-size: 30px;
      }

      .Sidebar {
        border: none;
        background: white;
      }

      .fa-bars {
        position: relative;
        left: 1em;
        font-size: 1.7em;
        cursor: pointer;
      }
    
      .logo {
        position: relative;
        left: 36rem;
      }

      .layout-cart-user {
        display: flex;
        gap: 6em;
        position: relative;
        left: 50rem;
        .fa-store,
        .fa-cart-shopping,
        .fa-user,
        .fa-right-from-bracket,
        .fa-bars {
            font-size: 2rem;
        }

        .logout-but,
        .fa-bars {
          border: none;
          background: white;
          cursor: pointer,
        }
      }

    .sidebar-layout {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    img {
        height: 50px;
        width: 177px;
        @include flex__center;
        padding: 1em;
    }

    .location-search {
        width: 100%;
        height: 50px;
        background-color: variables.$background_grey__medium;
        @include shadow;
    
    .fa-location-dot {
            color: variables.$darken;
            font-size: variables.$small;
        }

    }
}
 

@include desktop {
    
        header img {
            padding: 15px;
            width: 250px;
            height: 80px;
        }

        header .location-search {
            box-shadow: none;
        }

}

@include tablet {

    header .fa-arrow-left:before  {
        position: absolute;
        right: 92%;
      }

      header img {
        width: 200px;
        height: 60px;
      }
}

@include mobile {
    header .fa-arrow-left:before  {
        position: absolute;
        right: 90%;
      } 

      header img {
        width: 170px;
        height: 50px;
      }
}