@use "../../utils.scss" as *;
@use "../../Utils/variables" as variables;

header {

    display: flex;
    justify-content: center;
    flex-direction: row;

    .logo {
      position: relative;
      left: 8.5rem;
     }

    img {
        height: 50px;
        width: 177px;
        @include flex__center;
        padding: 1em;
    }
}
 

@include desktop {
    
        header img {
            padding: 15px;
            width: 250px;
            height: 80px;
        }

        header .location-search {
            box-shadow: none;
        }

}

@include tablet {

      header img {
        width: 200px;
        height: 60px;
      }
}

@include mobile {
    header .fa-arrow-left:before  {
        position: absolute;
        right: 90%;
      } 

      header img {
        width: 170px;
        height: 50px;
      }
}