//Flexbox + centrage

@mixin flex__center {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}


@mixin flex__center_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin flex__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
//////////////////////////////////////////////////
/// Flexbox ////////////////

@mixin flex__column {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/////////////////////////////////////////////////





//Ombres

@mixin shadow {
    box-shadow: $light_shadow;
}
///////////////////////////////////////////////////////

// Décalage

@mixin shift_top {
    position: relative;
    top : 15px;
}

@mixin shift_bottom {
    position: relative;
    bottom: 15px;    
}

@mixin shift_left {
    position: relative;
    left: 15px;
}

@mixin shift_right {
    position: relative;
    right: 15px;
}
@mixin center_content {
    position: relative;
    left: 3em;
}
/////////////////////////////

//Barre de recherche

@mixin input_style {
    font-weight: 540;
    font-size: $normal;
    color: $darken;
    border: none;
}

///////////////////////////////////////////////
@mixin icon-size {
    width: 12px;
    height: 16px;
    
}